/* Color Theme Swatches in Hex */
$promptBox: #131313;
$hacker-blue-4: #147373;
$hacker-blue-5: #21A698;

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px;
    z-index: 1;
    justify-content: end;

    .headerDiv{
        margin-right: 20px;

        button:first-child{
            margin-right: 10px;
        }
    }

    .crudButton{
        transition: all 0.3s;

        &:hover{
            filter: drop-shadow(0px 0px 10px $hacker-blue-5);
            transition: all 0.3s;
        }

        &:active{
            filter: drop-shadow(0px 0px 10px $hacker-blue-4);
            transition: all 0.3s;
        }
    }

    .logOut{
        margin-right: 0 !important;
    }
}

#chat {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    margin-bottom: 100px;
}

.userMessage,
.aiMessage {
    text-align: left;
    width: 100%;
    margin-top: 25px;
    opacity: 0;
    transform: translateY(-50%);

    h1, h2 {
        color: $hacker-blue-5;
    }

    h3, h4 {
        color: $hacker-blue-4;
    }

    div {
        background-color: rgba(0, 0, 0, 0.548);
        border: 1px solid $promptBox;
        padding: 15px;
        border-radius: 10px;
        box-shadow: rgba(167, 167, 167, 0.1) 0px 0px 20px 0px;
        backdrop-filter: blur(10px);

        pre {
            width: 100%;
        }

        a, strong {
            color: $hacker-blue-5;
        }

        section {
            overflow-x: scroll;
            background-color: $promptBox !important;
        }

        hr {
            margin: 50px 0;
        }

        p strong {
            color: $hacker-blue-4;
            font-weight: 700;
            font-size: 1.2rem;
        }
    }

    word-wrap: break-word;
}

.greeting {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    top: 75px;

    img {
        margin: 0 auto;
    }

    h5 {
        text-align: center;
        color: $hacker-blue-5;
    }
}

.messageBox {
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: $promptBox;
    height: 150px;
    position: sticky;
    margin-top: 100px;
    bottom: 50px;
    box-shadow: rgba(167, 167, 167, 0.1) 0px 0px 20px 0px;

    textarea {
        width: 100%;
        height: 75%;
        resize: none;
        padding: 10px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $hacker-blue-4;
        }
    }

    .promptBoxButtons{
        height: 25%;
        justify-content: right;
        display: flex;
        margin: 10px;
        margin-bottom: 20px;

        img{
            margin-left: auto;
            margin-right: auto;
        }

        button {
            width: 48px;
            height: 48px;
            background-color: #1d1d1d;
            border-radius: 10px;
            transition: all 0.3s;
            margin-left: 10px;
    
            &:hover {
                cursor: pointer;
            }
        }

        .active {
            background-color: white;
        }
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    #chat, .messageBox {
        width: 75%;
    }
}

@media (max-width: 992px) {
    #chat {
        width: 95%;
    }

    .messageBox {
        width: 100%;
        bottom: 0;
        margin-top: 50px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        button {
            width: 20%;
            border-bottom-right-radius: 0;
        }
    }
}