$promptBox: #131313;
$hacker-blue-4: #147373;
$hacker-blue-5: #21A698;

img{
    margin-left: auto;
    margin-right: auto;
}

.signSection{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

h1{
    text-align: center;
    margin-bottom: 100px;
}

.leftContent{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: $hacker-blue-5 1px solid;
    justify-content: space-evenly;

    h4, div{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .benefits{
        font-size: larger;
    }
}

.rightContent{
    width: 50%;

    form{
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        width: 50%;
        padding: 2.5%;
        background-color: $promptBox;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: rgba(167, 167, 167, 0.1) 0px 0px 20px 0px;

        input, label{
            margin: 2.5%;
            width: 95%;
        }

        label{
            margin-bottom: 0;
        }

        input{
            background-color: #0c0c0c;
            padding: 5px;
            height: 40px;
            border-radius: 10px;

            &:focus {
                outline: 3px solid $hacker-blue-4;
            }
        }

        .passwordExigence{
            width: 95%;
            text-align: center;
        }

        .error{
            width: 95%;
            color: crimson;
        }

        button{
            margin-top: 15px;
            width: 50%;
            transition: 0.3s all;

            &:hover{
                transition: 0.3s all;
                width: 95%;
            }

            &:active{
                transition: 0.3s all;
                transform: scale(0.95);
            }
        }
    }
}

@media (max-width: 992px) {
    .signSection{
        flex-direction: column;
        align-items: center;
    }

    .rightContent{
        width: 100%;

        form{
            width: 75%;
        }
    }

    .leftContent{
        width: 90%;
        border: none;
        margin-bottom: 100px;
    }
}